<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <base href='{{subdir}}/'>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/custom.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="console" id="console">
            <pre id="code"></pre>
        </div>
        <div class="control-buttons">
            <button id="scroll-to-top" class="button">
                <i class="fa-solid fa-arrow-up"></i>
            </button>
            <button id="scroll-to-bottom" class="button">
                <i class="fa-solid fa-arrow-down"></i>
            </button>
            <button id="auto-scroll" class="button active">
                <i class="fa-solid fa-sync"></i>
            </button>
            <input type="range" id="line-batch-size" min="1" max="8" step="1" value="1" />
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="js/client.js"></script>
        <script src="js/to-bottom.js"></script>
        <script src="js/to-top.js"></script>
    </body>
</html>
