.white {
  color: #F1F1F1
}

.hide {
  color: #222222
}

.green {
  color: #26AF5F
}

.orange {
  color: #F49D1D
}

.red {
  color: #C13A2C
}

.blue {
  color: #3597D3
}

.yellow {
  color: #F0C514
}

.gray {
  color: #BDC2C8
}

.purple {
  color: #894B9D
}