.console {
  margin:-45px auto;
}

#code {
  font-family: monospace;
  color: #F1F1F1;
  background-color: #222222;
  width: 440em; /* Enlève 'em()' qui est incorrect, utiliser la valeur en pixels ou em directement */
  margin: 4em auto;
  padding: 0.5em;
  border-radius: .25em;
  white-space: pre-wrap;
  word-wrap: break-word;
  counter-reset: line;
  overflow-y: auto;
  height: 100vh; /* Hauteur dynamique de l'écran */
  box-sizing: border-box; /* Assurez-vous que padding est inclus dans le calcul de la hauteur */
}

.log-line {
  position: relative;
  padding: 0 15px 0 62px;
  margin: 0;
  min-height: 19px;
}
  
.log-line:hover {
  background-color: #444;
}

.log-line a {
  display: inline-block;
  text-align: right;
  min-width: 40px;
  margin-left: -40px;
  color: #888;
  position: absolute;
}

.log-line a:before {
  content: counter(line);
  counter-increment: line;
  padding-right: 1em;
}

/* Styles pour les boutons de contrôle */
.control-buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

/* Styles pour les boutons de contrôle */
.control-buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espacement réduit entre les boutons */
  z-index: 1000;
}

/* Styles pour les boutons de contrôle */
.control-buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Espacement réduit entre les boutons */
  z-index: 1000;
}

/* Style de base pour les boutons */
.control-buttons .button {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px; /* Taille réduite des boutons */
  height: 30px; /* Taille réduite des boutons */
  font-size: 14px; /* Réduction de la taille de la police */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Survol des boutons to-top et to-bottom */
.control-buttons .button:hover {
  background-color: #888; /* Gris clair */
  transform: scale(1.1); /* Agrandissement au survol */
}

/* Style spécifique au bouton auto-scroll */
#auto-scroll {
  background-color: #444; /* Maintenir un fond gris pour le bouton auto-scroll */
}

#auto-scroll.active:hover {
  background-color: #555; /* Une teinte légèrement plus foncée au survol */
}

/* Rotation de l'icône pour le bouton auto-scroll actif */
#auto-scroll.active i {
  animation: rotate 2s linear infinite;
}

/* Animation de rotation pour l'icône */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styles au survol pour les autres boutons */
#scroll-to-top:hover {
  background-color: #888; /* Gris clair */
}

#scroll-to-bottom:hover {
  background-color: #888; /* Gris clair */
}
